<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="primary" ion-button block (click)="logout()">Log out</ion-button><br>
  <video height="100%" autoplay="autoplay" class="center">
    <source src="assets/vtst.mp4" type="video/mp4">
  </video>
  <ion-button type="file" ion-button expand="block" (change)="subirFoto($event)" accept=".png, .jpg" multiple="false">selectpic</ion-button>
</ion-content-->
<ion-header>
	<ion-toolbar color="primary">
		<ion-title> Ionic Image Upload </ion-title>
	</ion-toolbar>
</ion-header>


